<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Pesto Food</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/Content/asess/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="~/Content/asess/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/asess/css/fonts.css">
    <link rel="stylesheet" href="~/Content/asess/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/asess/css/bell.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
        body {
           
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="~/Content/asess/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <div class="page">
        <a class="section section-banner d-none d-xl-flex" style="background-image: url(~/Content/asess/images/backgroud1.png); background-image: -webkit-image-set( url(~/Content/asess/images/banner/background-04-1920x60.jpg) 1x, url(~/Content/asess/images/banner/background-04-3840x120.jpg) 2x )"></a>
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layou
                     t="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a href="index.html"><img class="brand-logo-light" src="~/Content/asess/images/logo-default1-140x57.png" alt="" width="140" height="57" srcset="~/Content/asess/images/logo-default-280x113.png 2x" /></a></div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item active">
                                            <a class="rd-nav-link" href="@Url.Action("Index")">Home</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("Theater")">theater</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("FreeRecipes")">Free Recipes</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("TheContests")">The contests</a>
                                        </li>

                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("Feedback")">Feedback</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("FAQ")">FAQ’s</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("Contact")">Contacts</a>
                                        </li>

                                        <li class="rd-nav-item">
                                            <div class="search-container">
                                                <input type="text" class="search-input" placeholder="Search">
                                                <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </div>
                                        </li>

                                        <li class="rd-nav-item">
                                            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                                                <ul class="navbar-nav ml-auto">
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-bell" style="color:white;"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                                            <div class="dropdown-divider"></div>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                                                <span class="float-right text-muted text-sm">3 mins</span>
                                                            </a>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    @{

                                        if (Session["idUser"] != null)
                                        {
                                            <a style="text-decoration:none;">@Session["Name"]</a>
                                            if (Session["isAdmin"] != null)
                                            {
                                                <a href="~/Admin/start/ViewST" style="text-decoration:none;">My Admin</a>
                                            }
                                        }

                                        else
                                        {
                                            <a style="text-decoration:none;" class="button button-white button-sm" href="@Url.Action("Login")">Sign In</a>
                                        };

                                    }
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="@Url.Action("Login")">Sign Out</a></li>
                                </ul>
                            </div>



                        </div>
                    </div>
                </nav>
            </div>
        </header>
        @RenderBody()

        <footer class="section footer-minimal context-dark">
            <div class="container wow-outer">
                <div class="wow fadeIn">
                    <div class="row row-60">
                        <div class="col-12"><a href="index.html"><img src="~/Content/asess/images/logo-default1-140x57.png" alt="" width="140" height="57" srcset="~/Content/asess/images/logo-default-280x113.png 2x" /></a></div>
                        <div class="col-12">
                            <ul class="footer-minimal-nav">
                                <li><a href="#">Menu</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="about-us.html">About</a></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <ul class="social-list">
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Pesto</span><span>.&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><a href="#">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="@Url.Action("index")">Pesto ITALIAN Food</a></p>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>

    <script src="~/Content/asess/js/core.min.js"></script>
    <script src="~/Content/asess/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>